<Menu Color="0xffff0000">
	<Element Color="0xff302050" Forground="0xffffffff" Pos="Up" Callback="OnButtonClick_4" Text="Galaxie"/>
	<Element Color="0xff302050" Forground="0xffffffff" Pos="Down" Callback="OnButtonClick_4" Text="LiteSaber"/>
	<Element Color="0xff302050" Forground="0xffffffff" Pos="Left" Callback="OnButtonClick_4" Text="Croiseur"/>
	<Element Color="0xff302050" Forground="0xffffffff" Pos="Right" Callback="OnButtonClick_4" Text="The Force"/>
</Menu>